# Bloomberg-style settings
align-pattern-matching-bar = paren
assignment-operator = end-line
break-before-in = fit-or-vertical
break-cases = fit-or-vertical
break-collection-expressions = fit-or-vertical
break-infix = fit-or-vertical
break-infix-before-func = false
break-fun-decl = fit-or-vertical
break-fun-sig = fit-or-vertical
break-separators = after
break-sequences = true
break-string-literals = auto
break-struct = true
cases-exp-indent = 2
cases-matching-exp-indent = normal
disambiguate-non-breaking-match = false
doc-comments = before
doc-comments-padding = 2
doc-comments-tag-only = default
dock-collection-brackets = true
exp-grouping = parens
extension-indent = 2
field-space = loose
function-indent = 2
function-indent-nested = always
if-then-else = fit-or-vertical
indent-after-in = 0
indicate-multiline-delimiters = space
indicate-nested-or-patterns = space
infix-precedence = indent
leading-nested-match-parens = true
let-and = sparse
let-binding-indent = 2
let-binding-spacing = compact
let-module = sparse
line-endings = lf
margin = 80
match-indent = 0
match-indent-nested = always
max-indent = 4
module-item-spacing = sparse
nested-match = align
ocp-indent-compat = false
parens-ite = false
parens-tuple = always
parens-tuple-patterns = multi-line-only
parse-docstrings = true
parse-toplevel-phrases = true
sequence-blank-line = preserve-one
sequence-style = terminator
single-case = compact
space-around-arrays = false
space-around-lists = false
space-around-records = false
space-around-variants = false
stritem-extension-indent = 0
type-decl = sparse
type-decl-indent = 2
wrap-comments = true
wrap-fun-args = false
